dist
node_modules
.DS_Store

# Supabase backend logic
supabase

# Logs
logs
*.log

# Misc
.fleet
.idea
.eslintrc.cjs

# Local env files
.env
.env.*
!.env.example

# Editor boilerplate
.vscode
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

