/* Site-Wide Element Rules */
body {
  background-color: var(--c-primary);
  color: var(--c-text);
  font-size: var(--step-0);
  transition: background-color 1000ms ease-in;
}
h1 {
  font-size: var(--step-5);
  font-weight: 700;
}
h2 {
  font-size: var(--step-4);
  font-weight: 700;
}
h3 {
  font-size: var(--step-3);
}
h4 {
  font-size: var(--step-2);
}
h5 {
  font-size: var(--step-1);
}
a {
  color: var(--c-text);
}
strong {
  font-weight: bold;
}

/* For unfinished stuff */
.coming-soon {
  position: relative;
}
.coming-soon::after {
  content: 'Coming Soon';
  backdrop-filter: blur(0.5rem);
  color: #d2711099;
  display: grid;
  place-items: center;
  font-size: clamp(2em, 10vw, 3.5em);
  font-weight: 900;
  inset: -0.5rem;
  letter-spacing: 0.25rem;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px var(--c-secondary);
}


/* Nuxt */
.anchor-overlay {
  text-decoration: none;
}
.anchor-overlay.router-link-exact-active {
  color: unset;
}

/* Typography */
.fs--2 { font-size: var(--step--2); }
.fs--1 { font-size: var(--step--1); }
.fs-0 { font-size: var(--step-0); }
.fs-1 { font-size: var(--step-1); }
.fs-2 { font-size: var(--step-2); }
.fs-3 { font-size: var(--step-3); }
.fs-4 { font-size: var(--step-4); }
.fs-5 { font-size: var(--step-5); }
.fs-6 { font-size: var(--step-6); }

/* Backgrounds & Borders */
.inner-grad {
  --g-color: var(--c-accent);
  --g-weight: 1rem;
  position: relative;
}
.inner-grad::after {
  border: var(--g-weight) solid var(--g-color);
  clip-path: inset(0); /* prevents blur from spilling outside box */
  content: '';
  filter: blur(var(--g-weight));
  inset: 0;
  position: absolute;
}
.lin-grad {
  --g-color: color-mix(in srgb, var(--c-accent), transparent 85%);
  --g-dir: 0deg;
  background-image: linear-gradient(var(--g-dir), var(--g-color), transparent 75%);
}
.rad-grad {
  --g-color: color-mix(in srgb, var(--c-accent), transparent 85%);
  --g-pos: 50% 50%;
  background-image: radial-gradient(circle at var(--g-pos), var(--g-color), transparent 75%);
}
.lin-grad-lr { --g-dir: 90deg }
.lin-grad-rl { --g-dir: 270deg }
.rad-grad-tl { --g-pos: 0% 0% }
.rad-grad-br { --g-pos: 100% 100% }

.grad-textclip {
  --grad: var(--gradient-2);
  background-clip: text;
  background-image: var(--grad);
  background-size: 400%;
  color: transparent;
  font-weight: 900;
  line-height: 1;
  animation: slide 2s infinite alternate; 
}
@keyframes slide {
  0% { background-position: left }
  100% { background-position: right }
}

/* Hover Effects */
.hover-radgrad { position: relative }
.hover-radgrad::before {
  content: '';
  background-image: radial-gradient(circle at center, var(--c-accent), transparent);
  inset: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: opacity 250ms ease-in;
}
.hover-radgrad:hover::before { opacity: 1 }

/* Links and Anchors */
.inline-link {
  font-weight: 700;
  transition: color 250ms ease-in-out; /* can probably be consolidated elsewhere */
}
.inline-link:hover,
.router-link-exact-active {
  color: var(--c-accent);
}

/* Buttons */
.btn {
  --clr-fill: transparent;
  --clr-text: var(--c-text);
  background-color: var(--clr-fill);
  border: 0.125em solid var(--clr-fill);
  border-radius: 0.5em;
  color: var(--clr-text);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0.25em 0.5em;
  user-select: none;
}
.btn[disabled] {
  background-color: #404040;
  cursor: initial;
}
.btn:not([disabled]) { transition: 250ms ease-in-out }
.btn.hover-fill { background-color: transparent }
.btn.hover-fill:hover { background-color: var(--clr-fill) }
.btn.hover-scale { transform: scale(1.0) }
.btn.hover-scale:hover { transform: scale(1.1) }
.btn.hover-glow { position: relative }
.btn.hover-glow::before {
  background-image: linear-gradient(transparent, var(--c-accent));
  content: '';
  inset: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: opacity 500ms ease-in-out;
}
.btn.hover-glow:hover::before { opacity: 1 }
.btn-accent {
  --clr-fill: var(--c-accent);
  --clr-text: var(--c-text);
}
.btn-link { /* i.e., with nested NuxtLink */
  display: flex;
  padding: 0;
}
.btn-link > a {
  color: var(--clr-text, var(--c-text));
  flex: 1;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

/* Logical Layouts */
.card {
  background-color: hsl(var(--hs-card) 8% / .8);
  border: 1px solid hsl(var(--hs-card) 26%);
  box-shadow: var(--bs);
  padding: clamp(1rem, 2vw + 0.125rem, 2rem);
}
.inline-svg {
  --gap: 1rem;
  --pad-block: 0.5rem;
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding-inline: 1rem;
}
.inline-svg > svg {
  color: var(--c-accent);
  transition: all 250ms ease-in;
}
.inline-svg > :not(svg) {
  flex-grow: 1;
  padding-block: var(--pad-block);
  transition: all 250ms ease-in;
}
.inline-svg.hoverable:hover svg {
  transform: scale(1.25);
}
.inline-svg.hoverable:hover > :not(svg) {
  color: var(--c-accent);
  transform: translateX(0.5rem);
}

/* Inputs */
.styled-input > input[type="radio"] {
  appearance: none;
  background-color: var(--c-secondary);
  border: 2px solid var(--c-accent);
  border-radius: 100vw;
  height: 2em;
  width: 2em;
  position: relative;
}
.styled-input > input[type="radio"]::before {
  color: var(--c-text);
  content: "✔";
  font-size: 2.5em;
  position: absolute;
  top: -0.5em;
  right: -0.125em;
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.styled-input > input[type="radio"]:checked::before {
  opacity: 1;
}

