@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Source+Sans+3:ital,wght@0,400;0,900;1,400;1,900&display=swap');
/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.6;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
}
img {
  font-size: 1rem;
  font-style: italic;
  height: auto;
  vertical-align: middle;
}
img, picture, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
input, textarea, button, select {
  font: inherit;
}
ul, ol {
  padding-inline-start: 1.5rem;
}
/* END RESETS */

/* custom property definitions */
:root {
  /* Typography */
  --ff-primary: 'Inter', 'Trebuchet MS', sans-serif;
  --ff-mono: 'PT Mono', monospace;
  /* utopia.fyi/type/calculator?c=320,16,1.2,1440,20,1.414,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.625rem, 0.7142rem + -0.0991vw, 0.6944rem);
  --step--1: clamp(0.8331rem, 0.8187rem + 0.0723vw, 0.8838rem);
  --step-0: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0379rem + 0.8107vw, 1.7675rem);
  --step-2: clamp(1.44rem, 1.1373rem + 1.5134vw, 2.4994rem);
  --step-3: clamp(1.7281rem, 1.2122rem + 2.5795vw, 3.5338rem);
  --step-4: clamp(2.0738rem, 1.2386rem + 4.1759vw, 4.9969rem);
  --step-5: clamp(2.4881rem, 1.1803rem + 6.5393vw, 7.0656rem);
  --step-6: clamp(2.9863rem, 0.9848rem + 10.0071vw, 9.9913rem);

  /* Colors */
  --c-white: #FEFEFE;
  --c-black: #141414;
  --c-primary: #FFEDDB;
  --c-secondary: #D5BEC2;
  --c-accent: #A55709;
  --c-accent-alt: #007A6A;
  --c-text: var(--c-black);
  --c-antitext: var(--c-white);
  --c-card: color-mix(in srgb, var(--c-secondary), transparent 20%);
  
  /* Dimensions */
  --d-header-height: 6rem;
  --d-content-max: 1376px;
  --dw-content: 90rem; /* 1440px */
  --dw-content-wide: 100rem; /* 1600px */

  --d-app-sidebar-width: 320px;
  --d-container-width-max: 1280px;

  /* Box Shadow */
  --bs: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.25), 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
}
:root.dark-mode {
  --c-white: #E3E3F0;
  --c-text: var(--c-white);
  --c-antitext: var(--c-black);
  --c-primary: #0A0A14;
  --c-secondary: var(--c-black);
  --c-accent: #00C9AE;
  --c-accent-alt: #F28210;

  --gradient-2: linear-gradient(
    to right top,
    #00c9ae,
    #00c0d3,
    #00b1f0,
    #009df9,
    #8781e8
  );
  --g-highlight: linear-gradient(to right top, #0A0A14, #1D2035);
  --g-matching: linear-gradient(to right top, #0A0A14, #2E2B37);
}

/* Typography */
:root {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}
h1, h2, h3, h4 {
  line-height: 1.1;
}
