:root {
  /* Bounds */
  font-size: 16px;
  --header-height: clamp(4rem, 15vh, 6rem);
  --app-max-inline: 80rem;
  --padding-inline: clamp(1rem, 5vw, 2rem);
  --padding-inline: clamp(1rem, 5dvw, 2rem);
  --inline-extra-wide: calc(100vw - var(--app-max-inline));
  --inline-extra-wide: calc(100dvw - var(--app-max-inline));
  --inline-extra-narrow: calc(2 * var(--padding-inline));
  --inline-extra: max(var(--inline-extra-wide), var(--inline-extra-narrow));
  --padding-inline-view: calc(0.5 * var(--inline-extra));
  --view-transition-duration: 500ms;
  --view-transition-ease: ease-in;

  /* Colors */
  --clr-white: #e3e3f0;
  --clr-white-50: #e3e3f080;
  --clr-white-soft: #ababab;
  --clr-white-soft-50: #ababab80;
  --clr-black: #141414;
  --clr-black-75: #141414d0;
  --clr-black-soft: #0a0a14;
  --clr-pink: #be1399;
  --clr-pink-mute: #c289af;

  /* Semantic Color Variables */
  --clr-accent: var(--clr-pink);
  --clr-accent-soft: var(--clr-pink-mute);
  --clr-background: var(--clr-black);
  --clr-background-75: var(--clr-black-75);
  --clr-background-soft: var(--clr-black-soft);
  --clr-border-contrast: var(--clr-white);
  --clr-focus-outline: var(--clr-pink-mute);
  --clr-text: var(--clr-white);
  --clr-text-soft: var(--clr-white-soft);
  --clr-text-soft-50: var(--clr-white-soft-50);

  /* Sizing */
  --step--2: clamp(0.4775rem, 0.5066rem + -0.0324vi, 0.5002rem);
  --step--1: clamp(0.7072rem, 0.6885rem + 0.0934vi, 0.7726rem);
  --step-0: clamp(1rem, 0.9286rem + 0.3571vi, 1.25rem);
  --step-1: clamp(1.414rem, 1.2401rem + 0.8693vi, 2.0225rem);
  --step-2: clamp(1.9994rem, 1.6357rem + 1.8186vi, 3.2724rem);
  --step-3: clamp(2.8271rem, 2.1221rem + 3.5252vi, 5.2948rem);
  --step-4: clamp(3.9976rem, 2.6921rem + 6.5276vi, 8.5669rem);
  --step-5: clamp(5.6526rem, 3.3072rem + 11.7267vi, 13.8613rem);
  --halfstep: 1.272; /* scalar to nudge by half a step */

  /* Spacing */
  --gap-xs: 0.128em;
  --gap-s: 0.272em;
  --gap-m: 0.618em;
  --gap-l: 1.000em;
  --gap-xl: 1.618em;
  --gap-xxl: 2.618em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 320px;
  font-size: var(--step-0);
  
  color: var(--clr-text);
  background: var(--clr-background);
  line-height: 1.5;
  font-family: Inter, system-ui, 'Segoe UI', Ubuntu, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}
textarea {
  display: block;
  overflow: auto;
  padding: var(--gap-m);
}
.btn {
  cursor: pointer;
  font-weight: 700;
  border-radius: 0;
  padding: var(--gap-s) var(--gap-m);
}
.btn[disabled] {
  opacity: 0.4;
  pointer-events: none;
}
h1, h2 {
  margin-bottom: var(--gap-m);
}
h1, h2, h3, h4 {
  font-family: Oswald, Inter, system-ui;
  font-weight: normal;
  line-height: 0.9;
}
h1 {
  font-size: var(--step-4);
}
h2 {
  font-size: var(--step-3);
}
h3 {
  font-size: var(--step-2);
}
h4 {
  font-size: var(--step-1);
}
img {
  object-fit: cover;
}
ul,
ol {
  padding-inline-start: var(--gap-xl);
}

